body {
      min-width: 320px;
      overflow-x: hidden;
  }
  section.main {
     width: 200px;
  }
  input[type="text"]{
    width: 150px;
  }
  .red {
      color: red;
  }
  
  
button {
    outline: none;
    border: 1px solid #666;
    border-radius: 2px;
    background: #444;
    color: #fff;
}