body {
    min-width: 300px;
    overflow-x: hidden;
}
section.main {
    width: 200px;
}

.tiddler-edit-mode textarea {
    height: 150px;
}      

.tiddler-edit-mode textarea, .tiddler-edit-mode input[type="text"] {
    width: 90%;
} 
